{% extends "layout.html" %}


{% block content %}
 <!-- Modal Structure -->

<h5 class="center-align error">{{errors}}</h5>


<div class="valign-wrapper">
       
                <div class="row">
                <div class="col m12">
                        <div class="col s12 ">
                        <p>
                           <h4 class="white-text center-align">
                                <span id="display_title">{{title}}</span>
                                  due at <span id="display_time">{{time}}</span>
                                  on <span id="display_date">{{date}}</span>
                                 <a href="#modal1" class="update-quiz-btn btn-floating waves-effect waves-light light-blue lighten-3 btn-small modal-trigger white-text "><i class="material-icons white-text">edit</i></a></h4>
                           </h4> 
                        </p>
                   
                      </div>
                        <div class="col s12">
                                <h5 class="white-text"></h5>
                        </div>
                        <div class="col s12">
                                <h5 class="white-text">  </h5> 
                        </div>
                </div>        
                                 
                </div>
     
      </div>
      <form class="saveForm"  action="" method="post">
    <div id="modal1" class="modal">
            <div class="modal-content blue-grey darken-1">
                   <input name="quizId" value="{{quizId}}" class="hide">
                        <div class="row update-quiz-section">
                                <div class="col s12 m4 center-align">  
                                     <i class="material-icons white-text">title</i>
                                     <input id="quiz_title" name="quiz_title" type="text" class="white-text center-align" value="{{title}}" required>
                                 </div>
                                 
                                 <div class="col s5  m3 push-m1 center-align">
                                        <i class="material-icons white-text">access_time</i>
                                        <input name="time" class="white-text center-align" id="edit_time" onclick="timeInstance.open()" value="{{time}}">
                                 </div>
                                 <div class="col s5 push-s2 m3 push-s1 push-m2 push-s1 center-align">
                                                <i class="material-icons white-text">calendar_today</i>
                                               <input name="date" class="white-text center-align" id="edit_date" onclick="dateInstance.open()" value="{{date}}">
                                        </div>
                     </div>
                   
                   
            </div>
            
            <div class="modal-footer blue-grey darken-1 center-align">
                        <button class="modal-close btn btn-flat light-blue lighten-3 white-text save-btn" value="{{quizId}}">
                                        Save</button>
            
            </div>
          </div>
        </form>
       <div id="result"></div>
          <input type="text" id="dateP" class="datepicker white-text center-align hide" name="quiz_due_date" value="{{date}}" required >
          <input type="text" id="timeP" class="timepicker white-text center-align hide" name="quiz_due_time" value="{{time}}" required>
     
        


          <script type="text/javascript" src="{{app.request.getRootUri}}/js/edit_quiz.js"></script>
 
{% endblock %}

